.services {
  position: relative;
  padding-top: 63px;

  @media(max-width: 1023px) {
    background-color: var(--gray);
    padding-top: 0;

    :global(.container) {
      max-width: none;
      padding: 0;
    }
  }

  @media(max-width: 767px) {
    :global(.container) {
      max-width: 500px;
      padding: 0;
    }
  }
}

.wrapper {
  min-height: 410px;
  padding: 53px 135px 60px 70px;

  background-repeat: no-repeat;
  background-position: 82.5% center;

  &__piggybank {
    background-image: url('piggybank.png');
  }

  &__car {
    background-image: url('car.png');
  }

  &__phone {
    background-image: url('phone.png');
  }

  &__security {
    background-image: url('security.png');
  }

  @media(max-width: 1023px) {
    min-height: 380px;
    padding: 54px 45px 35px 45px;

    background-position: 90.5% center;

    &__piggybank {
      background-image: url('piggybank-tablet.png');
    }

    &__car {
      background-image: url('car-tablet.png');
    }

    &__phone {
      background-image: url('phone-tablet.png');
    }

    &__security {
      background-image: url('security-tablet.png');
    }
  }

  @media(max-width: 767px) {
    min-height: 362px;
    padding: 53px 15px 22px 15px;

    background-position: 100% 39%;

    &__piggybank {
      background-image: url('piggybank-mobile.png');
    }

    &__car {
      background-image: url('car-mobile.png');
    }

    &__phone {
      background-image: url('phone-mobile.png');
    }

    &__security {
      background-image: url('security-mobile.png');
    }
  }
}

.info {
  width: 44%;

  @media(max-width: 1023px) {
    width: 55%;
  }

  @media(max-width: 767px) {
    width: auto;
  }
}

.title {
  margin: 0 0 28px 0;

  font-weight: 500;
  font-size: 22px;
  line-height: 140%;

  @media(max-width: 1023px) {
    margin-bottom: 24px;

    font-size: 18px;
  }

  @media(max-width: 767px) {
    margin-bottom: 22px;

    font-size: 16px;
  }
}

.list {
  margin-bottom: 34px;

  font-size: 18px;
  line-height: 130%;

  @media(max-width: 1023px) {
    margin-bottom: 30px;

    font-size: 16px;
  }

  @media(max-width: 767px) {
    padding-right: 42px;
    margin-bottom: 26px;

    font-size: 14px;
  }
}

.item {
  position: relative;
  margin-bottom: 16px;
  padding-left: 21px;

  &:before {
    content: '';
    position: absolute;
    left: -2px;
    top: 5px;
    width: 13px;
    height: 13px;

    background-image: url('./check-mark.svg');
    background-repeat: no-repeat;
    background-size: 13px 13px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media(max-width: 1023px) {
    margin-bottom: 16px;

    &:before {
      width: 12px;
      height: 10px;
      left: 0;
      top: 5px;

      background-size: 12px 10px;
    }
  }

  @media(max-width: 767px) {
    padding-left: 15px;
    margin-bottom: 12px;

    &:before {
      width: 8px;
      height: 6px;
      left: 0;
      top: 5px;

      background-size: 8px 6px;
    }
  }
}

.additional {
  font-size: 18px;
  line-height: 140%;
  margin: 0;
  color: var(--black);

  @media(max-width: 767px) {
    font-size: 14px;
  }
}

.link {
  font-weight: 500;
  text-decoration: underline;
}

.button {
  min-width: 198px;
  padding: 16px 30px;

  font-size: 16px;
  font-weight: 500;

  @media(max-width: 767px) {
    width: 100%;
    font-size: 14px;
    padding: 13px 20px;
  }
}

.tab {
  tab-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 93px;
  padding: 30px;

  font-weight: 500;
  font-size: 18px;
  color: var(--black);
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--blue);
  }

  &:before {
    content: '';
    margin-right: 10px;
  }

  &__card {
    &:before {
      width: 34px;
      height: 30px;
      background-image: url('cards.svg');
      background-repeat: no-repeat;
    }
  }

  &__phone {
    &:before {
      width: 20px;
      height: 33px;
      background-image: url('phone.svg');
      background-repeat: no-repeat;
    }
  }

  &__security {
    &:before {
      width: 28px;
      height: 33px;
      background-image: url('security.svg');
      background-repeat: no-repeat;
    }
  }

  &__vault {
    &:before {
      width: 34px;
      height: 33px;
      background-image: url('./vault.svg');
      background-repeat: no-repeat;
    }
  }
}

.thumbs {
  :global(.swiper-slide-thumb-active) {
    background-color: var(--gray);
  }

  @media(max-width: 1023px) {
    display: none;
  }
}

.pagination {
  background-color: var(--gray);

  :global(.swiper-pagination) {
    display: none;
  }

  :global(.swiper-pagination-bullet) {
    background-color: #2028B6;
    opacity: 1;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: #E0E0E0;
  }

  @media(max-width: 1023px) {
    :global(.swiper-pagination) {
      display: block;
    }
  }

  @media(max-width: 767px) {
    :global(.swiper-pagination-bullet) {
      width: 6px;
      height: 6px;
    }
  }
}

