.list {
  display: flex;
  flex-wrap: wrap;
  min-width: 50%;

  &__footer {
    min-width: 0;
    grid-row: 1/-1;
    flex-direction: column;
  }

  @media(max-width: 1023px) {
    flex-direction: row;

    &__footer {
      flex-direction: column;
      grid-row: 3/7;
      margin-top: -8px;
    }
  }

  @media(max-width: 767px) {
    display: none;
    width: 100%;
  }
}

.menu_open {
  @media(max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.item {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }

  &__footer {
    margin-bottom: 12px;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 500;
  }

  @media(max-width: 1023px) {
    font-size: 14px;
    margin-right: 20px;

    &__footer {
      font-size: 16px;
    }
  }

  @media(max-width: 767px) {
    font-size: 16px;
    margin-right: 0;
    padding: 22px 10px 18px 15px;
    border-top: 1px solid var(--gray-4);
    border-bottom: 1px solid var(--gray-4);
  }
}

.link {
  &:hover {
    color: var(--blue);
  }

  &:focus {
    color: var(--blue);
  }
}
