.page_header {
  background-color: var(--gray);
}

.wrapper {
  display: flex;
  padding-top: 15px;
  padding-bottom: 20px;

  @media(max-width: 1023px) {
    padding-top: 33px;
    padding-bottom: 28px;
  }

  @media(max-width: 767px) {
    position: relative;
    padding-top: 17px;
    padding-bottom: 19px;
  }
}

.toggle {
  display: none;
  width: 16px;
  height: 12px;
  background-image: url('./menu.svg');
  background-repeat: no-repeat;
  background-color: transparent;

  @media(max-width: 767px) {
    position: absolute;
    top: 21px;
    left: 15px;
    display: block;
    border: none;
  }
}

.close {
  display: none;
  width: 15px;
  height: 15px;
  background-image: url('./close.svg');
  background-repeat: no-repeat;
  background-color: transparent;

  @media(max-width: 767px) {
    position: absolute;
    top: 18px;
    right: 14px;
    border: none;
  }
}

.main_nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;

  @media(max-width: 1023px) {
    align-items: center;
  }

  @media(max-width: 767px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.main_nav__open {
  @media(max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;

    .user_menu__link {
      display: flex;
      font-size: 16px;
      padding: 22px  10px 18px 44px;
      border-top: 1px solid var(--gray-4);
      border-bottom: 1px solid var(--gray-4);

      svg {
        position: absolute;
        top: 18px;
        left: 15px;
        width: 20px;
        height: 22px;
      }

      span {
        display: block;
      }
    }

    .user_menu {
      width: 100%;
    }

    .close {
      display: block;
    }
  }
}

.logo {
  margin-right: 109px;

  @media(max-width: 1023px) {
    margin-right: 66px;
  }

  @media(max-width: 767px) {
    margin-right: auto;
  }
}

.site_menu {
  margin-right: auto;
}

.user_menu {
  display: flex;
  flex-wrap: wrap;

  @media(max-width: 767px) {
    width: auto;
  }
}

.user_menu__item {
  padding-top: 20px;
  padding-bottom: 20px;

  @media(max-width: 767px) {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.user_menu__link {
  position: relative;
  display: block;
  padding-left: 30px;

  &:hover {
    color: var(--blue);
  }

  &:focus {
    color: var(--blue);
  }

  svg {
    position: absolute;
    top: -2px;
    left: 0;
  }

  @media(max-width: 1023px) {
    padding-left: 0;

    svg {
      position: static;
    }

    span {
      display: none;
    }
  }

  @media(max-width: 767px) {
    border: none;
    padding: 0;

    svg {
      width: 14px;
      height: 16px;
    }
  }
}
