:root {
  --default-font: 'Roboto', Arial, sans-serif;

  --white: #FFFFFF;
  --black: #1F1E25;
  --gray: #F6F7FF;
  --gray-2: #707C87;
  --gray-3: #E0E1EA;
  --gray-4: #C1C2CA;
  --gray-5: #2B3C4F;
  --gray-6: #DDE2EC;
  --blue: #2C36F2;
  --blue-2: #2027B3;
  --blue-3: #394959;

  --tablet-size: 1023px;
  --mobile-size: 767px;
}
